// layout
.wrapper {
    margin: 0 auto;

    &-inner {
        max-width: rem(1440px);
        margin: 0 auto;
    }
}

#app {
    position: relative;
}

#app {
    height: 100%;
}

.wrapper {
    height: 100vh;
}

.wrapper .pa-main {
    flex: 1 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

@media (min-width: $breakpoint-tablet) {
    .d-flex--from-tablet {
        display: flex;
    }
}

.pa-main {
    padding: rem(120px) rem(65px) 0 rem(65px);
}

// layout 2 columns
.pa-body {
    margin-left: rem(228px);
    padding: rem(20px) rem(37px) 0;
}

// offers
.layout-2columns {
    .pa-main {
        padding: rem(70px) 0 0 0;
    }
}

.pa-debug {
    //temp
    display: none;
    > span {
        display: none;
    }
}

// tablet version
@media (max-width: $breakpoint-tablet) {

    .pa-body {
        background: none;
        margin-left: 0;
    }

    .layout-color2 {
        .pa-body {
            background: none;
        }
    }

    .layout-2columns {
        .pa-main {
            padding-top: rem(96px);
        }

        .pa-body {
            padding-left: rem(15px);
            padding-right: rem(15px);
        }
    }
}

// small mobile version
@media (max-width: $breakpoint-mobile) {
    .pa-main {
        min-height: auto;
        padding: rem(65px) rem(10px) 0 rem(10px);
    }

    .layout-2columns {
        .pa-main {
            padding: rem(96px) 0 0 0;
        }
    }
}

// overlay
.ms-Overlay {
    z-index: 11;
}

.ms-Dialog-main {
    z-index: 12;
}

.ms-Panel-main {
    z-index: 20;
}

.overlay-block {
    margin-bottom: 0;
    overflow: auto;
    width: rem(500px);

    @media (max-width: $breakpoint-tablet) {
        max-width: rem(500px);
        width: 100%;
    }
}

.loading {
    &.margin-left {
        margin-left: rem(228px/2);
    }
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    .logo {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }
    .pulse {
        border-radius: 50%;
        animation: pulse 2s infinite;
        display: flex;
        img {
            padding: 1em;
            width: 5em;
            height: 5em;
        }
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(244,157,22, 0.4);
        opacity: 1;
    }
    70% {
        box-shadow: 0 0 0 10px rgba(244,157,22, 0);
        opacity: 0.7;
    }
    100% {
        box-shadow: 0 0 0 0 rgba(244,157,22, 0);
        opacity: 1;
    }
}

.lazy-fade {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}